*{
    background-color: beige;
}
span {
    background-color: red;
    padding: 10px;
    margin-left: -10px;
}
button{
    background-color: white;
    border: 1px solid white;
    margin: 5px;
    padding: 10px;
    padding-right: 100px;
    border-radius: 5px;
}
.center{
    border: 1px solid rgb(230, 215, 214);
    box-shadow: 1px 1px 3px rgb(218, 214, 214);
    border-radius: 10px;
    width: 400px;
    height: 500px;
    padding: 10px;
    margin: 0 auto;
}
